<form [formGroup]="loginForm" (ngSubmit)="signIn()">
  <mat-form-field appearance="outline" appearance="outline" class="w-100">
    <mat-label>Enter your email</mat-label>
    <input matInput placeholder="Enter your email" formControlName="email" required>
    <mat-error *ngIf="email.invalid">{{getErrorMessage(loginForm.controls.email)}}</mat-error>
  </mat-form-field>
  <mat-form-field appearance="outline" class="w-100">
    <mat-label>Enter your password</mat-label>
    <input matInput placeholder="Enter your password" formControlName="password" [type]="hide ? 'password' : 'text'" required>
    <mat-icon matSuffix (click)="hide = !hide">{{hide ? 'visibility' : 'visibility_off'}}</mat-icon>
    <mat-error *ngIf="password.invalid">{{getErrorMessage(loginForm.controls.password)}}</mat-error>
  </mat-form-field>
  <div class="button-row">
  <button type="submit" mat-raised-button color="primary">Login</button>
  <button type="button" routerLink="/register" mat-stroked-button color="primary">Register</button>
</div>
</form>
